---
const { class: className } = Astro.props;
---

<style>
  .carousel-slide {
    min-width: 100%;
    max-width: 100%;
    flex-shrink: 0;
  }
</style>

<div class:list={["carousel-slide", className]}>
  <div class="h-full flex justify-center items-center">
    <slot />
  </div>
</div>
