---
import SocialsText from "./SocialsText.astro";

const today = new Date();
---

<footer
	class="w-full bg-lm-ft dark:bg-dm-ft m-0 h-20 flex flex-row gap-1 justify-center items-center content-center px-5 shadow-[0_-5px_8px_rgba(0,0,0,0.05)] dark:shadow-[0_-5px_8px_rgba(255,255,255,0.05)]"
>
	<div class="flex-grow"></div>
	<div
		class="center-col flex-grow flex flex-col gap-1 justify-center items-center content-center"
	>
		<SocialsText />
		<p>&copy; {today.getFullYear()} Your name here. All rights reserved.</p>
	</div>
	<div class="flex-grow flex flex-row justify-end">
	</div>
</footer>
