---
import Socials from "./Socials.astro";

const today = new Date();
---

<footer class="w-full bg-lm-ft dark:bg-dm-ft m-0 p-5 flex flex-col gap-5 items-center">
	<Socials />
	<p>&copy; {today.getFullYear()} Your name here. All rights reserved.</p>
</footer>
