---
import HeaderLink from "./HeaderLink.astro";
import { SITE_TITLE } from "../consts";
import Socials from "./Socials.astro";
import SocialsDrop from "./SocialsDrop.astro";
import Wireframe from "./Wireframe.astro";
---

<!-- Desktop Header -->
<header class="bg-lm-hd dark:bg-dm-hd w-full m-0 shadow-[0_2px_8px_rgba(0,0,0,0.05)]">
	<nav class="flex flex-row justify-between items-center h-20">
		<Wireframe>
			<h2 class="m-0 text-3xl font-bold"><a href="/">{SITE_TITLE}</a></h2>
		</Wireframe>
		
		<Wireframe>
			<div class="internal-links text-xl flex flex-row gap-5">
				<HeaderLink href="/">Home</HeaderLink>
				<HeaderLink href="/blog">Blog</HeaderLink>
				<HeaderLink href="/about">About</HeaderLink>
			</div>
		</Wireframe>

		<Wireframe>
			<Socials class="hidden md:flex" />
			<SocialsDrop class="md:hidden" />
		</Wireframe>
	</nav>
</header>
<!-- Mobile Header -->
<header class="block md:hidden">

</header>
